.container {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;

  &.is-dragged {
    background-color: yellow;
  }

  .image-border {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .image {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    object-fit: contain;
  }
}