<div 
  class="content"
  [style.background-image]="'url(assets/images/area/' + area.type.key + '.png'"
>
  <ul class="team1-characters">
    <li 
      *ngFor="let character of combat.team1"
      class="character-container"
    >
      <app-combat-character
        [character]="character"
        [isTeam1]="true"
      ></app-combat-character>
    </li>
  </ul>
  <ul class="team2-characters">
    <li 
      *ngFor="let character of combat.team2"
      class="character-container"
    >
      <app-combat-character
        [character]="character"
        [isTeam1]="false"
      ></app-combat-character>
    </li>
  </ul>
</div>