.hero-list {
  max-width: 500px;
  .hero-container {
    background-color: lightgrey;
    margin-bottom: 10px;
  }
  .new-hero-button {
    background-color: lightblue;
    cursor: pointer;
    padding: 5px;
  }
}