<div class="content">
  <ul class="tab-buttons">
    <li 
      *ngIf="itemsTab.isEnabled"
      class="tab-button"
      [class.selected]="selectedTab === itemsTab"
      (click)="changeTab(itemsTab)"
    >Items</li>
    <li 
      *ngIf="abilitiesTab.isEnabled"
      class="tab-button"
      [class.selected]="selectedTab === abilitiesTab"
      (click)="changeTab(abilitiesTab)"
    >Abilities</li>
    <li 
      *ngIf="passivesTab.isEnabled"
      class="tab-button"
      [class.selected]="selectedTab === passivesTab"
      (click)="changeTab(passivesTab)"
    >
      <span>Passives</span>
      <app-notification-bubble 
        *ngIf="hero.unspentSkillPoints > 0"
        [value]="hero.unspentSkillPoints"
      ></app-notification-bubble>
    </li>
    <li 
      *ngIf="managementTab.isEnabled"
      class="tab-button"
      [class.selected]="selectedTab === managementTab"
      (click)="changeTab(managementTab)"
    >Management</li>
  </ul>
  
  <div class="tab-content">
    <app-selected-hero-items-tab
      *ngIf="selectedTab === itemsTab"
      [hero]="hero"
    ></app-selected-hero-items-tab>
    
    <app-selected-hero-abilities-tab
      *ngIf="selectedTab === abilitiesTab"
      [hero]="hero"
    ></app-selected-hero-abilities-tab>
    
    <app-selected-hero-passives-tab
      *ngIf="selectedTab === passivesTab"
      [hero]="hero"
    ></app-selected-hero-passives-tab>
    
    <app-selected-hero-management-tab
      *ngIf="selectedTab === managementTab"
      [hero]="hero"
    ></app-selected-hero-management-tab>
  </div>
</div>