.container {
    width: 100%;
    flex: 1 1 0;
    height: 30px;
    display: flex;
    border-radius: 5px;

    .bar {
        display: flex;
        align-items: center;
        border-radius: 5px;

        .text {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}