<div
  *ngIf="!isCreatingNewHero"
  class="container"
>
  <div class="hero-list-container">
    <ul class="hero-list">
      <li
        *ngFor="let hero of game.heroes"
        class="hero-container"
        [class.selected]="selectedHero === hero"
        (click)="selectHero(hero)"
      >
        <span class="hero-thumbnail-container">
          <app-hero-with-items [hero]="hero"></app-hero-with-items>
        </span>
        <span class="hero-information-container">
          <div class="header">
            <span class="name">{{hero.name}}</span>
            <span class="level">Level {{hero.level}}</span>
          </div>
          <div class="hero-type">{{hero.type.name}}</div>
        </span>
      </li>
      <li 
        *ngFor="let i of [].constructor(numberOfAvailableHeroSlots)"
        class="new-hero-button"
        (click)="openCreateNewHero()"
      >
        Create new hero
      </li>
    </ul>
  </div>
  <ng-container *ngIf="selectedHero">
    <div class="hero-with-items-container">
      <app-hero-with-items
        [hero]="selectedHero"
        [draggedItem]="draggedItem"
        [canInteractWithItems]="true"
      ></app-hero-with-items>
      <ul class="item-list">
        <li *ngFor="let item of game.items">
          <app-item
            [item]="item"
            (dragstart)="setDraggedItem(item)"
            (dragend)="setDraggedItem(undefined)"
          ></app-item>
        </li>
      </ul>
    </div>
    <div class="hero-information-container">
      <app-hero-information
        [hero]="selectedHero"
      ></app-hero-information>
    </div>
  </ng-container>
</div>

<app-create-new-hero 
  *ngIf="isCreatingNewHero"
  (createHero)="closeCreateNewHero()"
></app-create-new-hero>