.content {
  display: flex;
  padding: 10px;
  height: 100%;

  .hero-and-information-container {
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 40%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;

    .hero-with-items-container {
      flex: 0 0 auto;
    }
  
    .hero-information-container {
      flex: 1 1 0;
      overflow-y: auto;
    }
  }
    
  .item-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    align-content: flex-start;
    margin-left: 10px;
    overflow-y: auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
  }
}