<div class="content">
  <span class="hero-and-information-container">
    <div class="hero-with-items-container">
      <app-hero-with-items
        [hero]="hero"
        [draggedItem]="draggedItem"
        [canInteractWithItems]="true"
      ></app-hero-with-items>
    </div>
    <div class="hero-information-container">
      <app-hero-information
        [hero]="hero"
      ></app-hero-information>
    </div>
  </span>
  <ul class="item-list">
    <li *ngFor="let item of items">
      <app-item
        [item]="item"
        (dragstart)="setDraggedItem(item)"
        (dragend)="setDraggedItem(undefined)"
      ></app-item>
    </li>
  </ul>
</div>