.content {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;

  .predicate {
    align-self: center;
    flex: 1 1 0;
  }

  .predicate-selector {
    margin-left: 10px;
  }
}