.content {
  display: flex;
  .check-mark-container {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .progression-container {
    margin-right: 5px;

    .completed-amount {
      color: red;
    }

    &.complete {
      .completed-amount {
        color: green;
      }
    }
  }

  .description-parts {
    display: flex;
    align-items: center;

    .description-part {
      margin-left: 4px;
    }

    .monster-type {
      display: flex;
      align-items: center;
    }
  
    .area-type {
      display: flex;
      align-items: center;
      cursor: pointer;
  
      &:hover {
        color: blue;
      }
    
      .image-container {
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-left: 5px;
  
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}