.hero-type-selector {
  display: flex;
  width: 100%;

  .hero-type-selector-arrow-button {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: lightblue;
    user-select: none;
  }

  .hero-information {
    flex: 1 0 0;
  }
}