<div class="content">
  <ul class="quests">
    <ng-container *ngFor="let quest of game.quests">
      <li
        *ngIf="quest.isAvailable"
        class="quest"
      >
        <div class="header">
          <span class="name">{{quest.type.name}}</span>
          <img 
            *ngIf="quest.isComplete"
            class="check-mark"
            src="assets/images/check-mark.png" 
          />
        </div>
        <ul class="accomplishments">
          <li
            *ngFor="let accomplishment of quest.accomplishments"
          >
            <app-accomplishment [accomplishment]="accomplishment"></app-accomplishment>
          </li>
        </ul>
        <div class="subheader">Rewards</div>
        <ul class="rewards">
          <li
            *ngFor="let reward of quest.type.rewards"
            class="reward"
          >
            <span>{{reward.description}}</span>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>