<div class="content">
  <div 
    class="world-container"
    (mousedown)="startDragging($event)"
    (mousemove)="handleWorldMouseMove($event)"
    (mouseup)="stopDragging($event)"
    (wheel)="handleWorldMouseScroll($event)"
  >
    <div 
      class="world-container-content"
      [style.transform]="'translate(' + x + 'px, ' + y +'px)'"
      [style.zoom]="zoom"
    >
      <img
        src='/assets/images/world.png'
        class="background-image"
      />

      <div 
        *ngFor="let gameAreaType of game.allAreaTypes"
        class="area-type-container"
        [style.left]="getGameAreaTypeLeft(gameAreaType)"
        [style.top]="getGameAreaTypeTop(gameAreaType)"
        [class.available]="gameAreaType.isAvailable"
        [class.completed]="gameAreaType.isCompleted"
        [class.undiscovered]="!gameAreaType.isAvailable && !gameAreaType.isCompleted"
        (click)="selectGameAreaType(gameAreaType)"
      >
        <div
          class="area-type-marker"
        ></div>
      </div>
    </div>
  </div>

  <div class="area-type-information-container">
    <app-game-tab-world-area-type-information 
      *ngIf="selectedGameAreaType"
      [game]="game"
      [gameAreaType]="selectedGameAreaType"
    >
    </app-game-tab-world-area-type-information>
  </div>
</div>