<div class="content">
  <div 
    class="world-map-container"
    (click)="deselectGameAreaType()"
  >
    <app-zoomable-container
      [centerX]="worldMapCenterX"
      [centerY]="worldMapCenterY"
      [minX]="0"
      [minY]="0"
      [maxX]="worldMapWidth"
      [maxY]="worldMapHeight"
      [centerChanged]="centerChanged"
    >
      <img
        src='/assets/images/world.png'
        class="background-image"
      />

      <div 
        *ngFor="let gameAreaType of allAreaTypes"
        class="area-type-container"
        [style.left]="getGameAreaTypeLeft(gameAreaType)"
        [style.top]="getGameAreaTypeTop(gameAreaType)"
        [class.available]="gameAreaType.isAvailable"
        [class.completed]="gameAreaType.isCompleted"
        [class.undiscovered]="!isGameAreaTypeDiscovered(gameAreaType)"
        [class.selected]="selectedGameAreaType === gameAreaType"
      >
        <div
          (click)="selectGameAreaType(gameAreaType, $event)"
          class="area-type-marker"
        >
          <div>{{ isGameAreaTypeDiscovered(gameAreaType) ? gameAreaType.type.name : '?'}}</div>
        </div>
      </div>
    </app-zoomable-container>
  </div>


  <div
    *ngIf="selectedGameAreaType"
    class="area-type-information-container"
  >
    <app-game-tab-world-area-type-information 
      [gameAreaType]="selectedGameAreaType"
    >
    </app-game-tab-world-area-type-information>
  </div>
</div>