<div class="content">
  <ul class="abilities">
    <li
      *ngFor="let ability of hero.abilities"
      class="ability"
    >
      <span 
        class="image-container"
        (click)="toggleIsEnabled(ability)"
      >
        <img 
          class="image"
          [src]="'assets/images/abilities/' + ability.type.key + '-thumbnail.png'"
        />
        <img 
          *ngIf="ability.isEnabled"
          class="enabled-check-mark"
          src="assets/images/check-mark.png"
        />
      </span>
      <span class="text-container">
        <span class="name-and-description">
          <div class="name">{{ability.type.name}}</div>
          <ul class="tags">
            <li
              *ngFor="let tag of ability.type.tags"
              class="tag"
              [style.background-color]="getAbilityTagColor(tag)"
            >{{getAbilityTagTranslation(tag)}}</li>
          </ul>
          <ul>
            <li
              *ngFor="let effect of ability.effects"
              class="description-line"
            >{{effect.description}}</li>
          </ul>
        </span>
        <span class="details">
          <div class="label-and-value">
            <span>Mana cost</span>
            <span>{{ability.manaCost | prettyNumber}}</span>
          </div>
          <div class="label-and-value">
            <span>Time to use</span>
            <span>{{getNumberInSeconds(ability.timeToUse)}}s</span>
          </div>
          <div class="label-and-value">
            <span>Cooldown</span>
            <span>{{getNumberInSeconds(ability.cooldown)}}s</span>
          </div>
          <div class="label-and-value">
            <span>Critical strike chance</span>
            <span>{{getNumberInPercent(ability.criticalStrikeChance)}}%</span>
          </div>
        </span>
      </span>
    </li>
  </ul>
</div>
