<div class="information-group">
  <div class="area-type-name">{{gameAreaType.type.name}}</div>
  <div class="area-type-level">Area level {{gameAreaType.type.level}}</div>
</div>
<div class="information-group">
  <div class="area-type-description">{{gameAreaType.type.description}}</div>
</div>
<div class="information-group">
  <div>{{gameAreaType.areas.length > 0 ? 'Instances' : 'No active instances'}}</div>
  <div 
    *ngFor="let area of gameAreaType.areas"
    class="active-area"
  >
    <div class="header">
      <span>Combat {{area.currentCombatNumber}} out of {{area.totalAmountOfCombats}}</span>
      <button (click)="selectArea(area)">Go to combat</button>
    </div>
    <div class="combat-characters">
      <span class="combat-character-list-container team1">
        <app-game-tab-world-active-area-character-list
          [combatCharacters]="area.currentCombat.team1"
        ></app-game-tab-world-active-area-character-list>
      </span>
      <span class="combat-character-list-container">
        <app-game-tab-world-active-area-character-list
          [combatCharacters]="area.currentCombat.team2"
        ></app-game-tab-world-active-area-character-list>
      </span>
    </div>
    <div class="footer">
      <button 
        [disabled]="area.canGoToNextCombat ? '' : 'disabled'"
        (click)="goToNextCombat(area)"
      >Go to next combat</button>
      <button 
        (click)="leaveArea(area)"
      >Leave area</button>
    </div>
  </div>
</div>
<div class="information-group new-instance-container">
  <div>Select one or more heroes</div>
  <ul class="heroes">
    <li 
      *ngFor="let hero of game.heroes"
      class="hero-container"
      [class.selected]="isHeroSelected(hero)"
      [class.available]="isHeroAvailable(hero)"
      (click)="toggleHeroSelected(hero)"
    >
      <div>{{hero.name}}</div>
      <div class="hero-image-container">
        <app-hero-with-items
          [hero]="hero"
        ></app-hero-with-items>
      </div>
      <img 
        class="selected-check-mark"
        src="assets/images/check-mark.png"
      />
      <img 
        class="hero-not-available-image"
        src="assets/images/cancel.png"
      />
    </li>
  </ul>
  <button
    [disabled]="selectedHeroes.length === 0"
    (click)="startNewInstance()"
  >Start new instance</button>
</div>