<div class="character">
  <div>{{character.name}}</div>

  <app-progress-bar
    [minimumValue]="0"
    [maximumValue]="character.maximumHealth"
    [rightToLeft]="!isTeam1"
    [value]="character.currentHealth"
    style="margin-bottom:3px"
    [height]="'20px'"
  ></app-progress-bar>

  <app-progress-bar
    [minimumValue]="0"
    [maximumValue]="character.maximumMana"
    [rightToLeft]="!isTeam1"
    [value]="character.currentMana"
    [barColor]="'blue'"
    [height]="'5px'"
  ></app-progress-bar>

  <div class="image-abilities-and-effects">
    <div class="image-container">
      <img 
        *ngIf="!character.isAlive"
        class="image"
        src="assets/images/hero/tombstone.png" 
      />
      
      <ng-container *ngIf="character.isAlive">
        <app-hero-with-items
          *ngIf="character.hero"
          [hero]="character.hero"
        ></app-hero-with-items>
      
        <img
          *ngIf="!character.hero"
          class="image"
          [src]="getImagePath()"
        />
      </ng-container>
    </div>

    <ul class="abilities">
      <li
        *ngFor="let ability of character.abilities"
      >
        <div 
          class="ability"
          [class.being-used]="ability === character.abilityBeingUsed"
        >
          <img 
            class="thumbnail"
            [src]="'assets/images/abilities/' + ability.type.key + '-thumbnail.png'" 
          />
  
          <div 
            *ngIf="ability === character.abilityBeingUsed && character.totalTimeToUseAbility"
            class="progress-bar-container"
          >
            <app-progress-bar
              [minimumValue]="0"
              [maximumValue]="character.totalTimeToUseAbility"
              [value]="character.totalTimeToUseAbility - character.remainingTimeToUseAbility"
              [barColor]="getAbilityUsageBarColor()"
              [height]="'3px'"
              [backgroundColor]="'black'"
            ></app-progress-bar>
          </div>
  
          <div 
            *ngIf="ability !== character.abilityBeingUsed"
            class="cooldown-overlay"
            [style.width] = "getCooldownOverlayWidthInPercent(ability) + '%'"
          >
          </div>
  
          <div class="ability-description">
            <div>{{ability.type.name}}</div>
            <ul class="ability-tags">
              <li
                *ngFor="let tag of ability.type.tags" 
                class="ability-tag"
                [style.background-color]="getAbilityTagColor(tag)"
              >{{getTranslatedAbilityTag(tag)}}</li>
            </ul>
            <div>{{ability.type.description}}</div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="continuous-effects">
      <li
        *ngFor="let continuousEffect of character.continuousEffects"
      >
        <div class="continuous-effect">
          <img 
            class="image"
            [src]="'assets/images/continuous-effects/' + continuousEffect.type.key + '.png'" 
          />
  
          <div class="description">
            <div>{{continuousEffect.type.name}}</div>
            <ul>
              <li *ngFor="let description of continuousEffect.abilityDescription">{{description}}</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>