<div class="character">
  <div>{{character.name}}</div>

  <app-progress-bar
    [minimumValue]="0"
    [maximumValue]="character.attributes.maximumHealth"
    [value]="character.currentHealth"
    [text]="character.typeKey"
  ></app-progress-bar>

  <div>Health: {{character.currentHealth | prettyNumber}}</div>

  <img [src]="getImagePath()">

  <div
    *ngIf="character.abilityBeingUsed && character.totalTimeToUseAbility"
  >
    <app-progress-bar
      [minimumValue]="0"
      [maximumValue]="character.totalTimeToUseAbility"
      [value]="character.totalTimeToUseAbility - character.remainingTimeToUseAbility"
      [text]="character.abilityBeingUsed.type.name"
      [barColor]="getAbilityUsageBarColor()"
    ></app-progress-bar>
  </div>
</div>