<div class="tabs-container">
  <ul class="tab-buttons">
    <li 
      class="tab-button"
      [class.selected]="isOnWorldTab"
      (click)="goToWorldTab()"
    >
      World
    </li>
    <li 
      class="tab-button"
      [class.selected]="isOnHeroesTab"
      (click)="goToHeroesTab()"
    >
      Heroes
    </li>
    <li 
      class="tab-button"
      [class.selected]="isOnCombatTab"
      (click)="goToCombatTab()"
    >
      Combat
    </li>
    <li 
      class="tab-button"
      [class.selected]="isOnItemsTab"
      (click)="goToItemsTab()"
    >
      Items
    </li>
    <li 
      class="tab-button"
      [class.selected]="isOnSettingsTab"
      (click)="goToSettingsTab()"
    >
      Settings
    </li>
  </ul>
  
  <div class="tab-content">
    <app-game-tab-world
      *ngIf="isOnWorldTab"
    ></app-game-tab-world>

    <app-game-tab-heroes
      *ngIf="isOnHeroesTab"
    ></app-game-tab-heroes>

    <app-game-tab-combat
      *ngIf="isOnCombatTab"
    ></app-game-tab-combat>
    
    <app-game-tab-items
      *ngIf="isOnItemsTab"
    ></app-game-tab-items>
    
    <app-game-tab-settings
      *ngIf="isOnSettingsTab"
    ></app-game-tab-settings>
  </div>
</div>
