.tab-menus-container {
  display: flex;
  height: 100%;
  
  .tab-menu-container {
    height: 100%;
    width: 100%;
    flex: 1 1 0;
    overflow: hidden;

    &.right {
      max-width: 400px;
      margin-left: 10px;
    }
  }
}