<div class="tab-menus-container">
  <div class="tab-menu-container left">
    <app-tab-menu [(selectedTab)]="selectedTab">
      <app-tab [tab]="worldTab">
        <app-game-tab-world></app-game-tab-world>
      </app-tab>
      <app-tab [tab]="heroesTab">
        <app-game-tab-heroes></app-game-tab-heroes>
      </app-tab>
      <app-tab [tab]="combatTab">
        <app-game-tab-combat></app-game-tab-combat>
      </app-tab>
      <app-tab [tab]="itemsTab">
        <app-game-tab-items></app-game-tab-items>
      </app-tab>
      <app-tab [tab]="questsTab">
        <app-game-tab-quests></app-game-tab-quests>
      </app-tab>
      <app-tab [tab]="achievementsTab">
        <app-game-tab-achievements></app-game-tab-achievements>
      </app-tab>
      <app-tab [tab]="settingsTab">
        <app-game-tab-settings></app-game-tab-settings>
      </app-tab>
      <app-tab 
        *ngIf="!alwaysShowChat"
        [tab]="socialTab"
      >
        <app-game-tab-social></app-game-tab-social>
      </app-tab>
    </app-tab-menu>
  </div>

  <div
    *ngIf="alwaysShowChat" 
    class="tab-menu-container right"
  >
    <app-tab-menu>
      <app-tab [tab]="socialTab">
        <app-game-tab-social></app-game-tab-social>
      </app-tab>
    </app-tab-menu>
  </div>
</div>
