
.tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .tab-buttons {
    display: flex;
    
    .tab-button {
      margin-right: 5px;
      background-color: #EEEEEE;
      padding: 10px;
      cursor: pointer;
      user-select: none;

      &:not(.selected) {
        background-color: lightgrey;
      }
    }
  }
  
  .tab-content {
    flex: 1 1 0;
    background-color: #EEEEEE;
    padding: 10px;
    overflow: hidden;
  }
}
