<div 
  class="content"
>
  <div *ngIf="areas.length === 0">Start a combat by entering an area on the world tab.</div>
  <ng-container *ngIf="areas.length > 0 && selectedArea">
    <div class="left-side">
      <ul class="area-list">
        <li 
          *ngFor="let area of areas"
          class="area"
          [class.selected]="selectedArea === area"
          (click)="selectArea(area)"
        >
          <div class="header">
            <div>{{ area.type.name }} - {{ area.type.level }}</div>
          </div>
          <div class="body">
            <div *ngFor="let hero of area.heroes">Hero: {{hero.combatCharacter.name}}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="area-container">
      <app-combat [combat]="selectedArea.currentCombat"></app-combat>
      <div
        *ngIf="hasCombatEnded"
        class="end-of-combat-overlay"
      >
        <div class="dimmer"></div>
        <div class="end-of-combat-information-container">
          <div class="title">You won the encounter!</div>

          <div class="item-description">Your party has picked up the following items throughout the area instance. They will be added to your items when the party leaves the area.</div>

          <ul class="item-list">
            <li 
              *ngFor="let item of selectedArea.loot.items"
              class="item-container"
            >
              <app-item
                [item]="item"
              ></app-item>
            </li>
          </ul>

          <div class="end-of-combat-buttons">
            <button
              *ngIf="canGoToNextCombat"
              class="button"
              (click)="goToNextCombat(selectedArea)"
            >Go to next combat</button>
  
            <button 
              class="button"
              (click)="leaveArea(selectedArea)"
            >Leave area</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>