.tab-menu-container {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;  

  .tab-buttons {
    display: flex;
    
    .tab-button {
      margin-right: 5px;
      background-color: #EEEEEE;
      padding: 10px;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      height: 50px;
  
      app-notification-bubble {
        margin-left: 5px;
      }
  
      &:not(.selected) {
        background-color: lightgrey;
      }
    }
  }
    
  .tab-content {
    flex: 1 1 0;
    background-color: #EEEEEE;
    padding: 10px;
    overflow: hidden;
  }
}